<nav>
  <!-- <app-academi-home></app-academi-home> -->

  <ul>
    <li><a routerLink="/academi-home" routerLinkActive="active" ariaCurrentWhenActive="page">Home comp</a></li>
    <li><a routerLink="/academi-user" routerLinkActive="active" ariaCurrentWhenActive="page">user comp</a></li>
    <li><a routerLink="/academi-login" routerLinkActive="active" ariaCurrentWhenActive="page">login comp</a></li>

    <li><a href="/academi-login" routerLinkActive="active" ariaCurrentWhenActive="page">login comp</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->

<router-outlet></router-outlet>
